body {
    background-color: black;
    max-width: 50%;
    color: antiquewhite;
}

button {
    background-color: black;
    color: teal;
    border: solid grey;
    font-size: xx-large;
}

.calc {
    display: grid;
    justify-content: center;
    align-content: center;
}