.mainContainer {
  display: flex;
  justify-content: center;
}

.firstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favButton {
  height: 3rem;
  border: none;
  background-color: var(--viola);
  color: var(--falcon);
  font-family: "Gloock", serif;
  font-size: x-large;
}

.favButton:hover {
  background-color: var(--thunder);
  color: var(--cavernPink);
}

.favButtonOff {
  width: 35%;
  height: 3rem;
  border: none;
  background-color: var(--scorpion);
  color: var(--thunder);
  font-family: "Gloock", serif;
  font-size: x-large;
}

.petName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerPhoto {
  width: 100vw;
  height: 60vh;
  background-color: var(--thunder);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 25px;
}
