.zipInput {
  width: 50%;
  height: 3rem;
  background-color: var(--parchment);
  color: black;
}

.zipDiv {
  display: flex;
  align-items: center;
}

.filterDiv {
  display: flex;
}

.searchButton {
  width: 10%;
  height: 3rem;
  appearance: none;
  background-color: var(--cavernPink);
  color: var(--thunder);
  font-family: "Gloock", serif;
  font-size: x-large;
}

.searchButton:hover {
  background-color: var(--thunder);
  color: var(--cavernPink);
}

.petCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  object-fit: contain;
}

.petCard {
  border-radius: 25px;
  background-color: blueviolet;
  margin: 5px;
  height: 20rem;
  width: 15rem;
}

.petPhoto {
  border-radius: 25px 25px 0px 0px;
  width: 15rem;
}
