<meta charset="UTF-8" /><meta charset="UTF-8" />
<title>Dashboard</title>
<link rel="stylesheet" href="/css/style.css" />

<nav class="sideBar">
  <a class="navbar-brand" href="/">Easywire</a>
  <ul class="navbarOptions">
    <li class="nav-item">
      <img class="nav-icon" src="\home.png" />
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <img class="nav-icon" src="teams.png" />
      <a class="nav-link" href="#">Team</a>
    </li>
    <li class="nav-item">
      <img class="nav-icon" src="tasks.png" />
      <a class="nav-link" href="#">Tasks</a>
    </li>
    <li class="nav-item">
      <img class="nav-icon" src="leaves.png" />
      <a class="nav-link" href="#">Leaves</a>
    </li>
    <li class="nav-item">
      <img class="nav-icon" src="projects.png" />
      <a class="nav-link" href="#">Projects</a>
    </li>
    <li class="nav-item">
      <img class="nav-icon" src="timesheet.png" />
      <a class="nav-link" href="#">Timesheet</a>
    </li>
    <li class="nav-item">
      <img class="nav-icon" src="contacts.png" />
      <a class="nav-link" href="#">Contacts</a>
    </li>
    <li class="nav-item">
      <img class="nav-icon" src="account.png" />
      <a class="nav-link" href="#">Account</a>
    </li>
  </ul>
</nav>
