@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f5f2e6;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
} 

.open {
    transform: roatate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


.zipSubmit {
  background-color: #95a595;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #282823;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.petCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 1em;
}

.petPhoto {
    object-fit: contain;
}

.searchInput {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.zipInputContainer {
    display: flex;
    justify-content: center;
}

.petPhoto {
    width: 200px;
    height: 150px;
    background-size: cover;
    justify-content: center;
}

.petCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pawsibilityLogo {
    height: 100px;
    width: fit-content;
    background-size: auto;
}

.shelterName:hover {
    color: #95a595;
    text-decoration: overline underline;
    text-decoration-color: #745b4d;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
}

.aboutHead {
    display: grid;
    gap: 5%;
}

.body {
    display: grid;
    gap: 3%;
}

.aboutHeader {
    color: #e6c2a8;
    font-size: xx-large;
    font: bolder;
    text-align: center;
}

.title {
    color: #79644c;
    font-size: large;
    font: bold;
}