h1 {
    color: red;
}

.container {
    display: grid;
    grid-template-areas: 
    "header header"
    "body main"
    "footer main";
    border: 2px solid purple;
}

.main {
    display: grid;
    border: 5px solid pink;
}

.header {
    grid-area: header;
    border: 5px solid blue;
}

.body {
    grid-area: body;
    border: 5px solid green;
}

.footer {
    grid-area: footer;
    border: 5px solid yellow;
}