<meta charset="UTF-8" /><meta charset="UTF-8" />
<title>Dashboard</title>
<link rel="stylesheet" href="/css/style.css" />
<head>
  <body>
    <div class="container">
      <%- include('../partials/navBar'); %>
      <input class="searchBar" type="search" />
      <div class="overviewHead">
        <h1 class="overview">Overview</h1>
      </div>
    </div>
  </body>
</head>
